@using System.Collections.Generic;
@using Biponee.Models
@model Biponee.Models.UserSectionC


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Biponee</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->



    <link href="~/Style/user/css/bootstrap.min.css" rel="stylesheet" />


    <!-- Slick -->

    <link href="~/Style/user/css/slick.css" rel="stylesheet" />

    <link href="~/Style/user/css/slick-theme.css" rel="stylesheet" />

    <!-- nouislider -->

    <link href="~/Style/user/css/nouislider.min.css" rel="stylesheet" />

    <!-- Font Awesome Icon -->
    <link href="~/Style/user/css/font-awesome.min.css" rel="stylesheet" />


    <!-- Custom stlylesheet -->

    <link href="~/Style/user/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.css">
</head>

<body>
    <!-- HEADER -->
    <header>
        <!-- top Header -->
        <div id="top-header">
            <div class="container">
                <div class="pull-left">
                    <span>Welcome to Biponee!</span>
                </div>
                <div class="pull-right">
                    <ul class="header-top-links">
                        <li><a href="#">Store</a></li>
                        <li><a href="#">Newsletter</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">English (ENG)</a></li>
                                <li><a href="#">Russian (Ru)</a></li>
                                <li><a href="#">French (FR)</a></li>
                                <li><a href="#">Spanish (Es)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">USD <i class="fa fa-caret-down"></i></a>
                            <ul class="custom-menu">
                                <li><a href="#">USD ($)</a></li>
                                <li><a href="#">EUR (€)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /top Header -->
        <!-- header -->
        <div id="header">
            <div class="container">
                <div class="pull-left">
                    <!-- Logo -->
                    <div class="header-logo">
                        <a class="logo" href="#">
                            <img src="~/Style/user/logo/logo.png" style="width:263px;height:70px" alt="">
                        </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search -->
                    <div class="header-search">


                        <table>
                            <tr>
                                <td>
                                    <select style="width:100px;" id="sectionId" class="form-control" onchange="showItems()">
                                        <option value="0">Select</option>
                                        @{
                                            int count = Model.Sections.Count;
                                        }
                                        @for (int i = count - 1; i >= 0; i--)
                                        {
                                            <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                        }
                                    </select>
                                </td>
                                <td>

                                    <input style="width:300px;" id="myInputext" class="form-control" type="text" placeholder="Product Name" required>

                                </td>
                                <td>
                                    <button onclick="serachResult()" class="btn btn-primary">Search</button>
                                </td>
                            </tr>
                        </table>



                    </div>
                    <!-- /Search -->
                </div>
                <div class="pull-right">
                    <ul class="header-btns">
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>

                                <strong class="text-uppercase" id="myAccount">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>
                            <table>
                                <tr>
                                    <td>
                                        <a href="#" id="loginLink" class="text-uppercase" data-toggle="modal" data-target="#loginModal" style="display:block">Login</a>
                                    </td>
                                    <td> | </td>
                                    <td>
                                        <a style="display:block" href="#" id="joinLink" data-toggle="modal" data-target="#signupmodal" class="text-uppercase">Join</a>
                                    </td>
                                </tr>
                            </table>

                            <ul class="custom-menu">

                                <li><a href="#" id="myProfileLink" style="display:none">My Profile</a></li>
                                <li><a href="#" id="signOutLink" style="display:none">Sign Out</a></li>

                            </ul>
                        </li>

                        <!-- /Account -->
                        <!-- Cart -->
                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span class="qty"></span>

                                </div>
                                <strong class="text-uppercase">My Cart:</strong>
                                <br>

                            </a>

                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div id="userShoppingcart" class="shopping-cart-list">

                                    </div>
                                    <div class="shopping-cart-btns">
                                        <button onclick="goToCart()" class="main-btn">View Cart</button>
                                        <button class="primary-btn">Checkout <i class="fa fa-arrow-circle-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- /Cart -->
                        <!-- Mobile nav toggle-->
                        <li class="nav-toggle">
                            <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                        </li>
                        <!-- / Mobile nav toggle -->
                    </ul>
                </div>
            </div>
            <!-- header -->
        </div>
        <!-- container -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- category nav -->
                <div class="category-nav">
                    <span class="category-header">Categories <i class="fa fa-list"></i></span>
                    <ul class="category-list">
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Mobile and Gadget<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            @{

                                                HashSet<String> set = new HashSet<String>();
                                                for (int i = 0; i < Model.MobileProduct.Count; i++)
                                                {
                                                    set.Add(Model.MobileProduct[i].Category);
                                                }



                                                foreach (String p in set)
                                                {

                                                    <li><a href="#"> @p</a></li>
                                                }

                                            }



                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>


                                </div>
                                <div class="row hidden-sm hidden-xs">
                                    <div class="col-md-12">
                                        <hr>
                                        <a class="banner banner-1" href="#">
                                            <img src="./img/banner05.jpg" alt="">
                                            <div class="banner-caption text-center">
                                                <h2 class="white-color">NEW COLLECTION</h2>
                                                <h3 class="white-color font-weak">HOT DEAL</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Electronics<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            @{

                                                set = new HashSet
                                                <String>
                                                    ();
                                                for (int i = 0; i < Model.ElectronicProducts.Count; i++)
                                                {
                                                    set.Add(Model.ElectronicProducts[i].Category);
                                                }

                                                foreach (String p in set)
                                                {

                                                    <li><a href="#" onclick="searchByCategory(1,'@p')"> @p</a></li>
                                                }

                                            }



                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>


                                </div>
                                <div class="row hidden-sm hidden-xs">
                                    <div class="col-md-12">
                                        <hr>
                                        <a class="banner banner-1" href="#">
                                            <img src="./img/banner05.jpg" alt="">
                                            <div class="banner-caption text-center">
                                                <h2 class="white-color">NEW COLLECTION</h2>
                                                <h3 class="white-color font-weak">HOT DEAL</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">DailyNeeds<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            @{

                                                set = new HashSet
                                                <String>
                                                    ();
                                                for (int i = 0; i < Model.DailyNeedProducts.Count; i++)
                                                {
                                                    set.Add(Model.DailyNeedProducts[i].Category);
                                                }

                                                foreach (String p in set)
                                                {

                                                    <li><a href="#" onclick="searchByCategory(3,'@p')"> @p</a></li>
                                                }

                                            }

                                        </ul>

                                        <hr class="hidden-md hidden-lg">
                                    </div>

                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-2" href="#">

                                            <img src="./img/banner04.jpg" alt="">
                                            <div class="banner-caption">
                                                <h3 class="white-color">NEW<br>COLLECTION</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown side-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Clothings<i class="fa fa-angle-right"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3>
                                            </li>
                                            @{

                                                set = new HashSet
                                                <String>
                                                    ();
                                                for (int i = 0; i < Model.ClothingProducts.Count; i++)
                                                {
                                                    set.Add(Model.ClothingProducts[i].Category);
                                                }


                                                foreach (String p in set)
                                                {

                                                    <li><a href="#" onclick="searchByCategory(4,'@p')"> @p</a></li>
                                                }

                                            }

                                        </ul>

                                        <hr class="hidden-md hidden-lg">
                                    </div>

                                    <div class="col-md-4 hidden-sm hidden-xs">
                                        <a class="banner banner-2" href="#">

                                            <img src="./img/banner04.jpg" alt="">
                                            <div class="banner-caption">
                                                <h3 class="white-color">NEW<br>COLLECTION</h3>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>



                    </ul>
                </div>
                <!-- /category nav -->
                <!-- menu nav -->
                <div class="menu-nav">
                    <span class="menu-header">Menu <i class="fa fa-bars"></i></span>

                </div>
                <!-- menu nav -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->
    <!-- HOME -->
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
            <div class="home-wrap">
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/Style/user/img/banner01.jpg" alt="">
                        <div class="banner-caption text-center">
                            <h1>Bags sale</h1>
                            <h3 class="white-color font-weak">Up to 50% Discount</h3>
                            <button class="primary-btn">Shop Now</button>
                        </div>
                    </div>
                    <!-- /banner -->
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/Style/user/img/banner02.jpg" alt="">
                        <div class="banner-caption">
                            <h1 class="primary-color">HOT DEAL<br><span class="white-color font-weak">Up to 50% OFF</span></h1>
                            <button class="primary-btn">Shop Now</button>
                        </div>
                    </div>
                    <!-- /banner -->
                    <!-- banner -->
                    <div class="banner banner-1">
                        <img src="~/Style/user/img/banner03.jpg" alt="">
                        <div class="banner-caption">
                            <h1 class="white-color">New Product <span>Collection</span></h1>
                            <button class="primary-btn">Shop Now</button>
                        </div>
                    </div>
                    <!-- /banner -->
                </div>
                <!-- /home slick -->
            </div>
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>

    <!-- /section -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section-title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title"><a href="#" onclick="gotoSection(1)">Clothings</a></h2>
                        <div class="pull-right">
                            <div class="product-slick-dots-1 custom-dots"></div>
                        </div>
                    </div>
                </div>
                <!-- /section-title -->
                <!-- banner -->
                <!-- /banner -->
                <!-- Product Slick -->

                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="row" id="mensRow">
                        <div id="product-slick-1" class="product-slick">
                            <!-- Product Single -->
                            @{
                                count = 0;
                            }
                            @for (int i = Model.ClothingProducts.Count - 1; i >= 0; i--)
                            {
                                if (Model.ClothingProducts[i].SectionId != 1)
                                {
                                    continue;
                                }
                                if (count > 4)
                                {
                                    break;
                                }
                                <div class="product product-single">
                                    <div class="product-thumb">


                                        <button onclick="goToProductPage('@Model.ClothingProducts[i].ProductCode','@Model.ClothingProducts[i].SectionId')" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                        @{

                                            String imgLink = "/" + Model.ClothingProducts[i].ImageLink + ".jpeg";
                                            <img src="@imgLink" alt="">
                                        }

                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-price">TK @Model.ClothingProducts[i].Price</h3>

                                        <h2 class="product-name"><a href="#">@Model.ClothingProducts[i].ProductName</a></h2>
                                        <div class="product-btns">

                                            <button onclick="goToProductPage('@Model.ClothingProducts[i].ProductCode','@Model.ClothingProducts[i].SectionId')" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        </div>
                                    </div>
                                </div>

                                count++;
                            }

                        </div>
                    </div>
                </div>
                <!-- /Product Slick -->
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title"> <a href="#" onclick="gotoSection(2)">Electronics</a></h2>

                        <div class="pull-right">
                            <div class="product-slick-dots-2 custom-dots">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- section title -->
                <!-- Product Single -->
                <!-- /Product Single -->
                <!-- Product Slick -->
                <div class="col-md-12 col-sm-6 col-xs-6">
                    <div class="row">
                        <div id="product-slick-2" class="product-slick">
                            <!-- Product Single -->
                            @{
                                count = 0;


                            }
                            @for (int i = Model.ElectronicProducts.Count - 1; i >= 0; i--)
                            {
                                if (Model.ElectronicProducts[i].SectionId != 2)
                                {
                                    continue;
                                }

                                if (count > 4)
                                {
                                    break;
                                }
                                String imgLink = "/" + Model.ElectronicProducts[i].ImageLink + ".jpeg";
                                <div class="product product-single">
                                    <div class="product-thumb">
                                        <button onclick="goToProductPage('@Model.ElectronicProducts[i].ProductCode','@Model.ElectronicProducts[i].SectionId')" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                        <img src="@imgLink" alt="">
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-price">Tk @Model.ElectronicProducts[i].Price</h3>

                                        <h2 class="product-name"><a href="#">@Model.ElectronicProducts[i].ProductName</a></h2>
                                        <div class="product-btns">
                                            <button onclick="addToCart('@Model.ElectronicProducts[i].ProductId','@Model.ClothingProducts[i].ProductCode','@Model.ElectronicProducts[i].ProductName','@imgLink','@Model.ElectronicProducts[i].Price','2')" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                        </div>
                                    </div>
                                </div>

                                count++;
                            }
                            <!-- /Product Single -->




                        </div>
                    </div>
                </div>
                <!-- /Product Slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- /section -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">

                        <h2 class="title">  <a href="#" onclick="gotoSection(3)">Daily Needs</a></h2>
                    </div>
                </div>
                <!-- section title -->
                <!-- Product Single -->
                @{
                    count = 0;
                }
                @for (int i = Model.DailyNeedProducts.Count - 1; i >= 0; i--)
                {
                    if (Model.DailyNeedProducts[i].SectionId != 3)
                    {
                        continue;
                    }
                    if (count > 4)
                    {
                        break;
                    }
                    String imgLink = "/" + Model.DailyNeedProducts[i].ImageLink + ".jpeg";
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span>New</span>
                                </div>
                                <button onclick="goToProductPage('@Model.DailyNeedProducts[i].ProductCode','@Model.DailyNeedProducts[i].SectionId')" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="@imgLink">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">TK @Model.DailyNeedProducts[i].Price</h3>

                                <h2 class="product-name"><a href="#">@Model.DailyNeedProducts[i].ProductName</a></h2>
                                <div class="product-btns">

                                    <button onclick="addToCart('@Model.DailyNeedProducts[i].ProductId','@Model.ClothingProducts[i].ProductCode','@Model.DailyNeedProducts[i].SectionId','@imgLink','@Model.DailyNeedProducts[i].Price','3')" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Product Single -->
                    count++;
                }
            </div>
            <!-- /row -->
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title"><a href="#" onclick="gotoSection(4)">Mobile</a></h2>
                    </div>
                </div>
                <!-- section title -->
                <!-- Product Single -->
                @{
                    count = 0;
                }
                @for (int i = Model.MobileProduct.Count - 1; i >= 0; i--)
                {
                    if (Model.MobileProduct[i].SectionId != 4)
                    {
                        continue;
                    }

                    if (count > 4)
                    {
                        break;
                    }
                    String imgLink = "/" + Model.MobileProduct[i].ImageLink + ".jpeg";
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="product product-single">
                            <div class="product-thumb">
                                <button onclick="goToProductPage('@Model.MobileProduct[i].ProductCode','@Model.MobileProduct[i].SectionId')" class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button>
                                <img src="@imgLink" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">TK @Model.MobileProduct[i].Price</h3>

                                <h2 class="product-name"><a href="#">@Model.MobileProduct[i].ProductName</a></h2>
                                <div class="product-btns">

                                    <button onclick="addToCart('@Model.MobileProduct[i].ProductId','@Model.ClothingProducts[i].ProductCode','@Model.MobileProduct[i].ProductName','@imgLink','@Model.MobileProduct[i].Price','4')" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    count++;
                }
                <!-- /Product Single -->
                <!-- Product Single -->
                <!-- /Product Single -->
                <!-- Product Single -->
                <!-- /Product Single -->
                <!-- Product Single -->
                <!-- /Product Single -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- FOOTER -->
    <footer id="footer" class="section section-grey">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <!-- footer logo -->
                        <div class="footer-logo">
                            <a class="logo" href="#">
                                <img src="~/Style/user/logo/logo.png" alt="">
                            </a>
                        </div>
                        <!-- /footer logo -->

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>

                        <!-- footer social -->
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <!-- /footer social -->
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">My Account</h3>
                        <ul class="list-links">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Compare</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->

                <div class="clearfix visible-sm visible-xs"></div>

                <!-- footer widget -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Customer Service</h3>
                        <ul class="list-links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Shiping & Return</a></li>
                            <li><a href="#">Shiping Guide</a></li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /footer widget -->
                <!-- footer subscribe -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-header">Stay Connected</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        <form>
                            <div class="form-group">
                                <input class="input" placeholder="Enter Email Address">
                            </div>
                            <button class="primary-btn">Join Newslatter</button>
                        </form>
                    </div>
                </div>
                <!-- /footer subscribe -->
            </div>
            <!-- /row -->
            <hr>
            <!-- row -->
            <!-- /row -->
        </div>
        <!-- /container -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/Style/user/js/jquery.min.js"></script>

    <script src="~/Style/user/js/bootstrap.min.js"></script>

    <script src="~/Style/user/js/slick.min.js"></script>

    <script src="~/Style/user/js/nouislider.min.js"></script>

    <script src="~/Style/user/js/jquery.zoom.min.js"></script>

    <script src="~/Style/user/js/main.js"></script>


    <script type="text/javascript" src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>

    <!--Login Modal-->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <table>
                            <tr>
                                <label>Email Id</label>
                            <tr>
                            <tr>
                                <input id="loginEmail" class="form-control" />
                            </tr>

                            <tr>
                                <label>Password</label>
                            <tr>
                            <tr>
                                <input id="loginPassword" class="form-control" type="password" />
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="loginBtn" style="background-color:#f86949;border-color:#f86949" type="button" class="btn btn-primary">Log In</button>
                </div>
            </div>
        </div>
    </div>


    <!--Sign Up Modal-->
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <table>
                            <tr>
                                <label>First Name</label>
                            <tr>
                            <tr>
                                <input id="firstName" class="form-control" />
                            </tr>

                            <tr>
                                <label>Last Name</label>
                            <tr>
                            <tr>
                                <input id="lastName" class="form-control" />
                            </tr>

                            <tr>
                                <label>Email</label>
                            <tr>
                            <tr>
                                <input id="email" class="form-control" />
                            </tr>

                            <tr>
                                <label>Password</label>
                            <tr>
                            <tr>
                                <input id="password" class="form-control" type="password" />
                            </tr>

                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="signUpbtn" style="background-color:#f86949;border-color:#f86949" type="button" class="btn btn-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <!--Size Modal-->
    <div class="modal fade" id="sizeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="text-align:center">Size</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Size</td>
                            <td >
                                <select id="availablePrductSize">

                                </select>
                            </td>
                        </tr>

                    </table>
                </div>
                <div id="addtoCartButton" class="modal-footer">
                   
                </div>
            </div>
        </div>
    </div>




    <script>
        var cart = {};
        cart.products = [];

        if (localStorage.getItem('cart') == null) {
            localStorage.setItem('cart', JSON.stringify(cart));
        }


    function loadProduct() {
    var nameArray = [];
    $.ajax({
        type: "POST",
        url: '@Url.Action("allProduct", "User")',
        contentType: "application/json;charset=utf-8",

        dataType: "json",
        success: function (data) {

            if (data != null) {
                console.log(data);
                var nameArray = [];
                for (var i = 0; i < data.length; i++) {
                    nameArray.push(data[i].ProductName);
                }

            }

        }
    });


    return nameArray;
}

function getProductWidget(productName, price, imgLink) {
    var productWidgetDiv = document.createElement("div");
    productWidgetDiv.setAttribute("class", "product product-widget");

    var productThumb = document.createElement("div");
    productThumb.setAttribute("class", "product-thumb");

    var img = document.createElement("img");
    img.setAttribute("src",  imgLink );

    productThumb.appendChild(img);


    var bodyDiv = document.createElement("div");
    bodyDiv.setAttribute("class", "product-body");

    var h5 = document.createElement("h5");
    h5.innerHTML = "Price " + price + " Tk"

    var Qh5 = document.createElement("h5");
    Qh5.innerHTML = "Quanity " + "1";
    var nmaeh5 = document.createElement("h5");
    nmaeh5.innerHTML = productName;

    bodyDiv.appendChild(h5);
    bodyDiv.appendChild(Qh5);
    bodyDiv.appendChild(nmaeh5);

    productWidgetDiv.appendChild(productThumb);
    productWidgetDiv.appendChild(bodyDiv);
    return productWidgetDiv;

}



$(window).on('load', function () {
    if (localStorage.getItem('status') == 'loggedIn') {
        console.log("Loggedin");
        document.getElementById("loginLink").setAttribute("style", "display: none;");
        document.getElementById("joinLink").setAttribute("style", "display: none;");
        document.getElementById("signOutLink").setAttribute("style", "display: block");
        document.getElementById("myProfileLink").setAttribute("style", "display: block");
        document.getElementById("myAccount").innerHTML = localStorage.getItem("FirstName");

    }
    var input = document.getElementById("myInputext");
    var awsomecomplete = new Awesomplete(input);


    $.ajax({
        type: "POST",
        url: '@Url.Action("allProduct", "User")',
        contentType: "application/json;charset=utf-8",

        dataType: "json",
        success: function (data) {

            if (data != null) {

                var nameArray = [];
                for (var i = 0; i < data.length; i++) {
                    nameArray.push(data[i].ProductName);
                }
            }
            awsomecomplete.list = nameArray;
        }

    });


    var JsonData = { UserID: parseInt(localStorage.getItem("userID")) }


    showCartItem(JSON.parse(localStorage.getItem('cart')).products);
    console.log(JSON.parse(localStorage.getItem('cart')).products);

});

$('#signOutLink').click(function () {
    document.getElementById("loginLink").setAttribute("style", "display: block;");
    document.getElementById("joinLink").setAttribute("style", "display: block;");
    document.getElementById("signOutLink").setAttribute("style", "display: none");
    document.getElementById("myProfileLink").setAttribute("style", "display: none");
    document.getElementById("myAccount").innerHTML = "My Account";
    localStorage.setItem('status', 'signout');
    localStorage.setItem('userID', null);
    localStorage.setItem('FirstName', null);

    localStorage.clear();
    clearCartItem();
    $(".qty").empty();
    document.location = '@Url.Action("Index", "User")'

});
$("#loginBtn").click(function () {


    var email = $("#loginEmail").val();
    var password = $("#loginPassword").val();


    var jsonData = { Email: email, Password: password };
    $.ajax({
        type: "POST",
        url: '@Url.Action("userLogIn", "User")',
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(jsonData),
        dataType: "json",
        success: function (data) {

            if (data != null) {

                localStorage.setItem('status', 'loggedIn');
                localStorage.setItem('userID', data.Id);
                localStorage.setItem('FirstName', data.FirstName);


                if (localStorage.getItem('status') == 'loggedIn') {
                    document.getElementById("loginLink").setAttribute("style", "display: none;");
                    document.getElementById("joinLink").setAttribute("style", "display: none;");
                    document.getElementById("signOutLink").setAttribute("style", "display: block");
                    document.getElementById("myProfileLink").setAttribute("style", "display: block");
                    document.getElementById("myAccount").innerHTML = data.FirstName + '<i class="fa fa - caret - down">';

                }
                $("#loginModal").modal('hide');

                var JsonData = { UserID: parseInt(localStorage.getItem("userID")) }


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("getAllCartItem", "User")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(JsonData),
                    dataType: "json",
                    success: function (data) {

                        if (data != null) {
                            console.log(data);
                            var shoppingCart = document.getElementById("userShoppingcart");
                            console.log(shoppingCart);

                            clearCartItem();
                            showCartItem(data);
                            $(".qty").text(data.length);

                        }

                    }
                });
            }
            else {
                alert("Email and password doesnot match");
            }
        }
    });
    // alert(name + " " + email);
    return false;
});


$("#signUpbtn").click(function () {

    console.log("Clicked");
    var firstName = $("#firstName").val();
    var lastName = $("#lastName").val();
    var email = $("#email").val();
    var password = $("#password").val();


    var jsonData = { FirstName: firstName, LastName: lastName, Email: email, Password: password };
    $.ajax({
        type: "POST",
        url: '@Url.Action("userSignUp", "User")',
        contentType: "application/json;charset=utf-8",
        data: JSON.stringify(jsonData),
        dataType: "json",
        success: function (data) {



            if (data != 'false') {

                localStorage.setItem('status', 'loggedIn');
                localStorage.setItem('userID', data.Id);
                localStorage.setItem('FirstName', data.FirstName);


                if (localStorage.getItem('status') == 'loggedIn') {
                    document.getElementById("loginLink").setAttribute("style", "display: none;");
                    document.getElementById("joinLink").setAttribute("style", "display: none;");
                    document.getElementById("signOutLink").setAttribute("style", "display: block");
                    document.getElementById("myProfileLink").setAttribute("style", "display: block");
                    document.getElementById("myAccount").innerHTML = data.FirstName + '<i class="fa fa - caret - down">';

                }
                $("#signupmodal").modal('hide');

            }
            else {
                alert("Please Try again");
            }
        }
    });
    // alert(name + " " + email);
    return false;
});

function showItems() {
    document.location = '@Url.Action("Products", "User")' + '?' + 'id=' + parseInt(document.getElementById("sectionId").value);
}

function goToProductPage(code,sectionId) {
    document.location = '@Url.Action("ProductPage", "User")' + '?' + 'code=' + code + '&sectionId=' + parseInt(sectionId);
}
function serachResult() {
    var productName = document.getElementById("myInputext").value;
    if (productName == "" || productName == null) {
        alert("Please enter a product name");
    }
    else {
        document.location = '@Url.Action("Products", "User")' + '?' + 'id=-1&' + 'ProductName=' + productName;
    }

}

function gotoSection(id) {
    document.location = '@Url.Action("Products", "User")' + '?' + 'id=' + parseInt(id);
}

function searchByCategory(sectionid, category) {
    // alert("Clicked");

    document.location = '@Url.Action("Products", "User")' + '?' + 'id=' + parseInt(sectionid) + "&category=" + category + "&searchInCategory=true";
}

function addToCart(id,code,name,img,price,sectionId) {
    if ((localStorage.getItem('status') != 'loggedIn')) {
        alert("Please Log in First");
    }
    else {  
        var productId = parseInt(id);
        var quantity = 1;
        var userId = localStorage.getItem('userID');
        var status = 0;
        var size = null;


        var JsonData = { ProductId: productId, ProductName: name, Image: img, Price: price, Qunaity: quantity, UserID: userId, Status: status, Size: size }

        if (localStorage && localStorage.getItem('cart')) {
            var cart = JSON.parse(localStorage.getItem('cart'));
            cart.products.push(JsonData);

            localStorage.setItem('cart', JSON.stringify(cart));

            console.log(localStorage.getItem('cart'));
            showCartItem(JSON.parse(localStorage.getItem('cart')).products);
        }
        else {
            console.log("Not define");
        }

    }

    return false;
}


function clearCartItem() {
    $("#userShoppingcart").empty();
}

function showCartItem(data) {

    console.log(data)
    var shoppingCart = document.getElementById("userShoppingcart");
    console.log(shoppingCart);
    clearCartItem();
    $(".qty").text(data.length);


    for (var i = 0; i < data.length; i++) {

        var cartWid = getProductWidget(data[i].ProductName, data[i].Price, data[i].Image);
        shoppingCart.appendChild(cartWid);
    }
    $(".qty").text(data.length);
}



    </script>
</body>

</html>
