@using System.Collections.Generic;
@model Biponee.Models.AdminSectionC
@if (ViewBag.insertResult != null)
{
    if (ViewBag.insertResult == "1")
    {
        Response.Write("<script>alert('Product inserted successfully')</script>");
    }
    else if (ViewBag.insertResult == "0")
    {
        Response.Write("<script>alert('Product Not Inserted')</script>");
    }
    else if (ViewBag.insertResult == "2")
    {
        Response.Write("<script>alert('Please change the product Code')</script>");
    }
    else if (ViewBag.insertResult == "2")
    {
        Response.Write("<script>alert('Please fill up all the necessary field')</script>");
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Style/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Style/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Style/admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Style/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Style/admin/images/favicon.png" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <script>
            $(document).ready(function () {
                $(window).on('load', function () {
                    $('body').hide();
                    if (localStorage['status'] == 'loggedin') {

                        $("#profileName1").text(localStorage['FirstName']);
                        $("#profileName2").text(localStorage['FirstName']);
                        $("#firstName").text(localStorage['FirstName']);
                        $('#lastName').text(localStorage['Email']);
                        $('#email').text(localStorage['Email']);
                        $('body').show();

                        /*document.getElementById('firstName').innerHTML = localStorage['FirstName'];
                        document.getElementById('lastName').innerHTML = localStorage['LastName'];
                        document.getElementById('email').innerHTML = localStorage['Email'];
                        console.log(document.getElementById("profileName"));*/
                    }
                    else {
                          document.location = '@Url.Action("Index", "Admin")';
                    }

                });
            });

        </script>
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo">
                    <img src="~/Style/user/logo/logo.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini">
                    <img src="~/Style/user/logo/logo.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Schedule
                            <span class="badge badge-primary ml-1">New</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-elevation-rise"></i>Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-bookmark-plus-outline"></i>Score
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="count">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 7 unread mails
                                </p>
                                <span class="badge badge-info badge-pill float-right">View all</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        David Grey
                                        <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 4 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                    <p class="font-weight-light small-text">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text" id="profileName1"></span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

                            <a class="dropdown-item mt-2" href="#" data-toggle="modal" data-target="#adminprofile">
                                Profile
                            </a>

                            <a class="dropdown-item" href="#" id="signOutLink">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">

                                <div class="text-wrapper">
                                    <p class="profile-name" id="profileName2"></p>
                                    <div>
                                        <small class="designation text-muted">Admin</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">
                                New Section
                                <i class="mdi mdi-plus"></i>
                            </button>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="dashboard">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" id="addproducts" class="nav-link">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Add Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="chart">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Charts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="orders">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Orders</span>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1" class="active">Clothing</a></li>
                    <li><a data-toggle="tab" href="#menu2">Electronics</a></li>
                    <li><a data-toggle="tab" href="#menu3">Daily Needs</a></li>
                    <li><a data-toggle="tab" href="#menu4">Mobile and Gadgets</a></li>

                </ul>

                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active show">
                        <button style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal" id="addProduct">+ Add a new Product</button>
                        <h3 style="margin-top:20px;">Your Products</h3>



                        <table class="table" style="overflow-y:scroll;height:500px;display:block;overflow-x:scroll">
                            <thead>
                                <tr>

                                    <th scope="col">ProductName</th>
                                    <th scope="col">ProductCode</th>
                                    <th scope="col">SectionName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>



                                </tr>
                            </thead>


                            @for (int i = Model.ClothingProducts.Count - 1; i >= 0; i--)
                            {
                                <tr>

                                    <td>@Model.ClothingProducts[i].ProductName</td>
                                    <td>@Model.ClothingProducts[i].ProductCode</td>
                                    @for (int j = 0; j < Model.Sections.Count; j++)
                                    {
                                        if (Model.Sections[j].SectionID == Model.ClothingProducts[i].SectionId)
                                        {
                                            <td>@Model.Sections[j].SectionName</td>
                                            break;
                                        }
                                    }

                                    <td>@Model.ClothingProducts[i].Price</td>
                                    <td>@Model.ClothingProducts[i].Category</td>

                                    <td>
                                        <a id="viewDetails" style="margin-top:20px;" class="btn btn-primary" onclick="viewData('@Model.ClothingProducts[i].SectionId','@Model.ClothingProducts[i].ProductCode')">View Details</a>
                                    </td>
                                    <td>
                                        <a style="margin-top:20px;" class="btn btn-primary" onclick="deleteProduct(@Model.ClothingProducts[i].ProductId,'@Model.ClothingProducts[i].ImageLink')">Delete</a>
                                    </td>


                                </tr>
                            }
                        </table>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <button style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#addElectronicProductModal" id="addProduct">+ Add a new Product</button>
                        <h3 style="margin-top:20px;">Your Products</h3>



                        <table class="table" style="overflow-y:scroll;height:500px;display:block;overflow-x:scroll">
                            <thead>
                                <tr>

                                    <th scope="col">ProductName</th>
                                    <th scope="col">ProductCode</th>
                                    <th scope="col">SectionName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>



                                </tr>
                            </thead>


                            @for (int i = Model.ElectronicProducts.Count - 1; i >= 0; i--)
                            {
                                <tr>

                                    <td>@Model.ElectronicProducts[i].ProductName</td>
                                    <td>@Model.ElectronicProducts[i].ProductCode</td>
                                    @for (int j = 0; j < Model.Sections.Count; j++)
                                    {
                                        if (Model.Sections[j].SectionID == Model.ElectronicProducts[i].SectionId)
                                        {
                                            <td>@Model.Sections[j].SectionName</td>
                                            break;
                                        }
                                    }

                                    <td>@Model.ElectronicProducts[i].Price</td>
                                    <td>@Model.ElectronicProducts[i].Category</td>


                                    <td>
                                        <a id="viewDetails" style="margin-top:20px;" class="btn btn-primary" onclick="viewData('@Model.ElectronicProducts[i].SectionId','@Model.ElectronicProducts[i].ProductCode')">View Details</a>
                                    </td>
                                    <td>
                                        <a style="margin-top:20px;" class="btn btn-primary" onclick="deleteProduct(@Model.ElectronicProducts[i].ProductId,'@Model.ElectronicProducts[i].ImageLink')">Delete</a>
                                    </td>



                                </tr>
                            }
                        </table>
                    </div>
                    <div id="menu3" class="tab-pane fade">
                        <button style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#adddailyNeedsPorduct" id="addProduct">+ Add a new Product</button>
                        <h3 style="margin-top:20px;">Your Products</h3>



                        <table class="table" style="overflow-y:scroll;height:500px;display:block;overflow-x:scroll">
                            <thead>
                                <tr>

                                    <th scope="col">ProductName</th>
                                    <th scope="col">ProductCode</th>
                                    <th scope="col">SectionName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>



                                </tr>
                            </thead>


                            @for (int i = Model.DailyNeedProducts.Count - 1; i >= 0; i--)
                            {
                                <tr>

                                    <td>@Model.DailyNeedProducts[i].ProductName</td>
                                    <td>@Model.DailyNeedProducts[i].ProductCode</td>
                                    @for (int j = 0; j < Model.Sections.Count; j++)
                                    {
                                        if (Model.Sections[j].SectionID == Model.DailyNeedProducts[i].SectionId)
                                        {
                                            <td>@Model.Sections[j].SectionName</td>
                                            break;
                                        }
                                    }

                                    <td>@Model.DailyNeedProducts[i].Price</td>
                                    <td>@Model.DailyNeedProducts[i].Category</td>

                                    <td>

                                        <a id="viewDetails" style="margin-top:20px;" class="btn btn-primary" onclick="viewData('@Model.DailyNeedProducts[i].SectionId','@Model.DailyNeedProducts[i].ProductCode')">View Details</a>

                                    </td>
                                    <td>
                                        <a style="margin-top:20px;" onclick="deleteProduct(@Model.DailyNeedProducts[i].ProductId,'@Model.DailyNeedProducts[i].ImageLink')" class="btn btn-primary">Delete</a>
                                    </td>


                                </tr>
                            }
                        </table>
                    </div>
                    <div id="menu4" class="tab-pane fade">
                        <button style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#addMobileProduct" id="addProduct">+ Add a new Product</button>
                        <h3 style="margin-top:20px;">Your Products</h3>



                        <table class="table" style="overflow-y:scroll;height:500px;display:block;overflow-x:scroll">
                            <thead>
                                <tr>

                                    <th scope="col">ProductName</th>
                                    <th scope="col">ProductCode</th>
                                    <th scope="col">SectionName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Action</th>



                                </tr>
                            </thead>


                            @for (int i = Model.MobileProduct.Count - 1; i >= 0; i--)
                            {
                                <tr>

                                    <td>@Model.MobileProduct[i].ProductName</td>
                                    <td>@Model.MobileProduct[i].ProductCode</td>
                                    @for (int j = 0; j < Model.Sections.Count; j++)
                                    {
                                        if (Model.Sections[j].SectionID == Model.MobileProduct[i].SectionId)
                                        {
                                            <td>@Model.Sections[j].SectionName</td>
                                            break;
                                        }
                                    }
                                    <td>@Model.MobileProduct[i].Price</td>
                                    <td>@Model.MobileProduct[i].Category</td>

                                    <td>
                                        <a id="viewDetails" style="margin-top:20px;" class="btn btn-primary" onclick="viewData('@Model.MobileProduct[i].SectionId','@Model.MobileProduct[i].ProductCode')">View Details</a>
                                    </td>
                                    <td>
                                        <a style="margin-top:20px;" onclick="deleteProduct(@Model.MobileProduct[i].ProductId,'@Model.MobileProduct[i].ImageLink')" class="btn btn-primary">Delete</a>
                                    </td>


                                </tr>
                            }
                        </table>
                    </div>

                </div>


                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Style/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Style/admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Style/admin/js/off-canvas.js"></script>
    <script src="~/Style/admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Style/admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <div class="modal fade" id="adminprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Admin Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                        <img src='~/Style/img/loading.gif' width="44" height="44" />
                        <br>Loading..
                    </div>
                    <table>
                        <tr>
                            <td colspan="2">First Name: </td>
                            <td id="firstName"></td>

                        </tr>
                        <tr>

                            <td colspan="2">Last Name: </td>
                            <td id="lastName"></td>

                        </tr>
                        <tr>
                            <td colspan="2">Email: </td>
                            <td id="email"></td>

                        </tr>

                    </table>
                </div>
                <div class="modal-footer">

                    <!--  <button id="loginbtn" type="button" class="btn btn-primary">Login</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                            <img src='~/Style/img/loading.gif' width="44" height="44" />
                            <br>Loading..
                        </div>


                        <table>
                            <tr>
                                <td colspan="2">Product Name</td>
                                <td colspan="2">
                                    <input id="ProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Product Code</td>
                                <td colspan="2">
                                    <input id="ProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Section Name</td>
                                <td colspan="2">
                                    <select id="SectionId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            if (Model.Sections[i].SectionID == 1)
                                            {
                                                <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                            }
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Category</td>
                                <td colspan="2">
                                    <input id="Category" name="Category" type="text" class="form-control" placeholder="Category" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Price</td>
                                <td colspan="2">
                                    <input id="Price" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Description</td>
                                <td colspan="2">
                                    <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Image</td>
                                <td colspan="2">
                                    <input id="ImageLink" name="ImageLink" type="file" class="form-control" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Sizes(If Available) Count</td>

                            </tr>
                            <tr>
                                <td>
                                    <input id="LCount" name="LCount" type="number" class="form-control" placeholder="L" min="0" />
                                </td>
                                <td>
                                    <input id="MCount" name="MCount" type="number" class="form-control" placeholder="M" min="0" />
                                </td>
                                <td>
                                    <input id="XLCount" name="XLCount" type="number" class="form-control" placeholder="XL" min="0" />
                                </td>
                                <td>
                                    <input id="XXLCount" name="XXLCount" type="number" class="form-control" placeholder="XXL" min="0" />
                                </td>
                            </tr>
                            <tr>
                                <td>Brand Name</td>
                                <td>
                                    <input class="form-control" placeholder="BrandName" name="BrandName" id="BrandName" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary" value="Add" input>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addElectronicProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                            <img src='~/Style/img/loading.gif' width="44" height="44" />
                            <br>Loading..
                        </div>


                        <table>
                            <tr>
                                <td colspan="2">Product Name</td>
                                <td colspan="2">
                                    <input id="ProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Product Code</td>
                                <td colspan="2">
                                    <input id="ProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Section Name</td>
                                <td colspan="2">
                                    <select id="SectionId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            if (Model.Sections[i].SectionID == 2)
                                            {
                                                <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                            }
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Category</td>
                                <td colspan="2">
                                    <input id="Category" name="Category" type="text" class="form-control" placeholder="Category" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Price</td>
                                <td colspan="2">
                                    <input id="Price" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Description</td>
                                <td colspan="2">
                                    <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Image</td>
                                <td colspan="2">
                                    <input id="ImageLink" name="ImageLink" type="file" class="form-control" />
                                </td>

                            </tr>

                            <tr>
                                <td>Quantity</td>
                                <td>
                                    <input class="form-control" type="number" placeholder="BrandName" name="Quantity" id="Quantity" />
                                </td>
                            </tr>

                            <tr>
                                <td>Brand Name</td>
                                <td>
                                    <input class="form-control" placeholder="BrandName" name="BrandName" id="BrandName" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary" value="Add" input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="adddailyNeedsPorduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                            <img src='~/Style/img/loading.gif' width="44" height="44" />
                            <br>Loading..
                        </div>


                        <table>
                            <tr>
                                <td colspan="2">Product Name</td>
                                <td colspan="2">
                                    <input id="ProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Product Code</td>
                                <td colspan="2">
                                    <input id="ProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Section Name</td>
                                <td colspan="2">
                                    <select id="SectionId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            if (Model.Sections[i].SectionID == 3)
                                            {
                                                <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                            }
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Category</td>
                                <td colspan="2">
                                    <input id="Category" name="Category" type="text" class="form-control" placeholder="Category" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Price</td>
                                <td colspan="2">
                                    <input id="Price" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Description</td>
                                <td colspan="2">
                                    <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Image</td>
                                <td colspan="2">
                                    <input id="ImageLink" name="ImageLink" type="file" class="form-control" />
                                </td>

                            </tr>

                            <tr>
                                <td>Quantity</td>
                                <td>
                                    <input class="form-control" type="number" placeholder="BrandName" name="Quantity" id="Quantity" />
                                </td>
                            </tr>

                            <tr>
                                <td>Brand Name</td>
                                <td>
                                    <input class="form-control" placeholder="BrandName" name="BrandName" id="BrandName" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary" value="Add" input>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addMobileProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                            <img src='~/Style/img/loading.gif' width="44" height="44" />
                            <br>Loading..
                        </div>


                        <table>
                            <tr>
                                <td colspan="2">Product Name</td>
                                <td colspan="2">
                                    <input id="ProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Product Code</td>
                                <td colspan="2">
                                    <input id="ProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Section Name</td>
                                <td colspan="2">
                                    <select id="SectionId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            if (Model.Sections[i].SectionID == 4)
                                            {
                                                <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                            }
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Category</td>
                                <td colspan="2">
                                    <input id="Category" name="Category" type="text" class="form-control" placeholder="Category" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Price</td>
                                <td colspan="2">
                                    <input id="Price" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Description</td>
                                <td colspan="2">
                                    <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Image</td>
                                <td colspan="2">
                                    <input id="ImageLink" name="ImageLink" type="file" class="form-control" />
                                </td>

                            </tr>

                            <tr>
                                <td>Quantity</td>
                                <td>
                                    <input class="form-control" type="number" placeholder="BrandName" name="Quantity" id="Quantity" />
                                </td>
                            </tr>

                            <tr>
                                <td>Brand Name</td>
                                <td>
                                    <input class="form-control" placeholder="BrandName" name="BrandName" id="BrandName" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary" value="Add" input>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <div class="modal" id="my" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td colspan="2">Product Id</td>
                            <td colspan="2">
                                <input id="VclothingProductId" readonly type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Product Name</td>
                            <td colspan="2">
                                <input id="VclothingProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                            </td>

                        </tr>
                        <tr>

                            <td colspan="2">Product Code</td>
                            <td colspan="2">
                                <input id="VclothingProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">Section Id</td>
                            <td colspan="2">
                                <input id="VclothingSectionId" readonly />
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">Category</td>
                            <td colspan="2">
                                <input id="VclothingProductcategory" name="Category" type="text" class="form-control" placeholder="Category" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Price</td>
                            <td colspan="2">
                                <input id="VclothingProductPrice" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">Description</td>
                            <td colspan="2">
                                <textarea id="VclothingProductDescription" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">Image</td>
                            <td colspan="2">
                                <img id="VclothingProductImg" width="200" height="200" readonly />
                            </td>

                        </tr>

                        <tr>
                            <td>L</td>
                            <td>
                                <input id="vLCount" name="LCount" type="number" class="form-control" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>
                                <input id="vMCount" name="MCount" type="number" class="form-control" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>
                                <input id="vXLCount" name="XLCount" type="number" class="form-control" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>
                                <input id="vXXLCount" name="XXLCount" type="number" class="form-control" min="0" />
                            </td>
                        </tr>
                        <tr>
                            <td>Brand Name</td>
                            <td>
                                <input class="form-control" placeholder="BrandName" name="BrandName" id="vBrandName" />
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="clothUpdate" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="generalModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Product Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td colspan="2">Product Id</td>
                            <td colspan="2">
                                <input id="gProductId" readonly type="text" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Product Name</td>
                            <td colspan="2">
                                <input id="gProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                            </td>

                        </tr>
                        <tr>

                            <td colspan="2">Product Code</td>
                            <td colspan="2">
                                <input id="gProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">Section Id</td>
                            <td colspan="2">
                                <input id="gSectionId" readonly />
                            </td>
                        </tr>
                        <tr>

                            <td colspan="2">Category</td>
                            <td colspan="2">
                                <input id="gProductcategory" name="Category" type="text" class="form-control" placeholder="Category" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">Price</td>
                            <td colspan="2">
                                <input id="gProductPrice" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">Description</td>
                            <td colspan="2">
                                <textarea id="gProductDescription" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                            </td>

                        </tr>
                        <tr>
                            <td colspan="2">Image</td>
                            <td colspan="2">
                                <img id="gProductImg" width="200" height="200" readonly />
                            </td>

                        </tr>

                        <tr>
                            <td>Quanity</td>
                            <td>
                                <input id="gQuantity" name="LCount" type="number" class="form-control" min="0" />
                            </td>
                        </tr>



                        <tr>
                            <td>Brand Name</td>
                            <td>
                                <input class="form-control" placeholder="BrandName" name="BrandName" id="gBrandName" />
                            </td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" id="gUpdate" class="btn btn-primary">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>

            $("#signOutLink").click(function () {
                localStorage.setItem("adminId", null);
                localStorage.setItem("Email", null);
                localStorage.setItem("FirstName", null);
                localStorage.setItem("LastName", null);
                localStorage.setItem("status", 'signout');
                document.location = '@Url.Action("Index", "Admin")';
            });

            $("#dashboard").click(function () {
                document.location = '@Url.Action("AdminPage", "Admin")';
            });

            $("#addproducts").click(function () {
                document.location = '@Url.Action("AddProduct", "Admin")';
            });
            $("#chart").click(function () {
                document.location = '@Url.Action("Charts", "Admin")' ;
            });
            $("#orders").click(function () {
                document.location = '@Url.Action("Orders", "Admin")';
            });


            $("#searchbtn").click(function () {

                var secid = $("#searchSecId").val();
                var productCode = $("#productCode").val();


                if (productCode == "") {
                    var jsonData = { SectionId: secid };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getAllProduct", "Admin")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                        success: function (data) {

                            $('#searchResBody').empty();


                            for (var i = 0; i < data.length; i++) {
                                var temp = '<tr><td>' + data[i].ProductId + '</td>';
                                temp += '<td>' + data[i].ProductName + '</td>';
                                temp += '<td>' + data[i].ProductCode + '</td>';
                                temp += '<td>' + data[i].SectionId + '</td>';
                                temp += '<td>' + data[i].Price + '</td>';
                                temp += '<td>' + data[i].Category + '</td>';

                                temp += '<td>' + data[i].ImageLink + '</td>';
                                temp += '<td>' + data[i].LCount + '</td>';
                                temp += '<td>' + data[i].MCount + '</td>';
                                temp += '<td>' + data[i].XLCount + '</td>';
                                temp += '<td>' + data[i].XXLCount + '</td><';
                                temp += '<td>' + data[i].Quantity + '</td><';
                                temp += '<td><a href="#">Update</a><a href="#"> Delete</a></td></tr>';

                                $('#searchResBody').append(temp);

                            }
                        }
                    });
                }
                else {
                    var jsonData = { SectionId: secid, Code: productCode };
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getProductOfThisCode", "Admin")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                        success: function (data) {

                            $('#searchResBody').empty();


                            for (var i = 0; i < data.length; i++) {
                                var temp = '<tr><td>' + data[i].ProductId + '</td>';
                                temp += '<td>' + data[i].ProductName + '</td>';
                                temp += '<td>' + data[i].ProductCode + '</td>';
                                temp += '<td>' + data[i].SectionId + '</td>';
                                temp += '<td>' + data[i].Price + '</td>';
                                temp += '<td>' + data[i].Category + '</td>';

                                temp += '<td>' + data[i].ImageLink + '</td>';
                                temp += '<td>' + data[i].LCount + '</td>';
                                temp += '<td>' + data[i].MCount + '</td>';
                                temp += '<td>' + data[i].XLCount + '</td>';
                                temp += '<td>' + data[i].XXLCount + '</td><';
                                temp += '<td>' + data[i].Quantity + '</td><';
                                temp += '<td><a href="#">Update</a><a href="#"> Delete</a></td></tr>';

                                $('#searchResBody').append(temp);

                            }
                        }
                    });
                }


                 return false;

                });

          function viewData(secid, productCode) {

            var jsonData = { SectionId: secid, Code: productCode };
            $.ajax({
                        type: "POST",
                        url: '@Url.Action("getProductOfThisCode", "Admin")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                success: function (data) {
                    console.log(data);
                    if (secid == 1) {

                        $("#VclothingProductName").val(data[0].ProductName);
                        $("#VclothingProductCode").val(data[0].ProductCode);
                        $("#VclothingProductId").val(data[0].ProductId);
                        $("#VclothingSectionId").val(data[0].SectionId);
                        $("#VclothingProductcategory").val(data[0].Category);
                        $("#VclothingProductPrice").val(data[0].Price);
                        $("#VclothingProductDescription").val(data[0].Description);
                        $("#vLCount").val(data[0].LCount);
                        $("#vMCount").val(data[0].MCount);
                        $("#vXLCount").val(data[0].XLCount);
                        $("#vXXLCount").val(data[0].XXLCount);
                        $("#vBrandName").val(data[0].BrandName);
                        $("#VclothingProductImg").attr("src", "/" + data[0].ImageLink + ".jpeg");
                        $("#my").modal("show");
                    }
                    else if (secid == 2) {

                        $("#gProductName").val(data[0].ProductName);
                        $("#gProductCode").val(data[0].ProductCode);
                        $("#gProductId").val(data[0].ProductId);
                        $("#gSectionId").val(data[0].SectionId);
                        $("#gProductcategory").val(data[0].Category);
                        $("#gProductPrice").val(data[0].Price);
                        $("#gProductDescription").val(data[0].Description);
                        $("#gQuantity").val(data[0].Quantity);

                        $("#gBrandName").val(data[0].BrandName);
                        $("#gProductImg").attr("src", "/" + data[0].ImageLink + ".jpeg");
                        $("#generalModal").modal("show");
                    }

                    else if (secid == 3) {

                        $("#gProductName").val(data[0].ProductName);
                        $("#gProductCode").val(data[0].ProductCode);
                        $("#gProductId").val(data[0].ProductId);
                        $("#gSectionId").val(data[0].SectionId);
                        $("#gProductcategory").val(data[0].Category);
                        $("#gProductPrice").val(data[0].Price);
                        $("#gProductDescription").val(data[0].Description);
                        $("#gQuantity").val(data[0].Quantity);

                        $("#gBrandName").val(data[0].BrandName);
                        $("#gProductImg").attr("src", "/" + data[0].ImageLink + ".jpeg");
                        $("#generalModal").modal("show");
                    }

                    else if (secid == 3) {

                        $("#gProductName").val(data[0].ProductName);
                        $("#gProductCode").val(data[0].ProductCode);
                        $("#gProductId").val(data[0].ProductId);
                        $("#gSectionId").val(data[0].SectionId);
                        $("#gProductcategory").val(data[0].Category);
                        $("#gProductPrice").val(data[0].Price);
                        $("#gProductDescription").val(data[0].Description);
                        $("#gQuantity").val(data[0].Quantity);

                        $("#gBrandName").val(data[0].BrandName);
                        $("#gProductImg").attr("src", "/" + data[0].ImageLink + ".jpeg");
                        $("#generalModal").modal("show");
                    }
                    else if (secid == 4) {

                        $("#gProductName").val(data[0].ProductName);
                        $("#gProductCode").val(data[0].ProductCode);
                        $("#gProductId").val(data[0].ProductId);
                        $("#gSectionId").val(data[0].SectionId);
                        $("#gProductcategory").val(data[0].Category);
                        $("#gProductPrice").val(data[0].Price);
                        $("#gProductDescription").val(data[0].Description);
                        $("#gQuantity").val(data[0].Quantity);

                        $("#gBrandName").val(data[0].BrandName);
                        $("#gProductImg").attr("src", "/" + data[0].ImageLink + ".jpeg");
                        $("#generalModal").modal("show");
                    }

                }
           });
        }

        $("#clothUpdate").click(function () {
           var productName =  $("#VclothingProductName").val().trim();
            var produtId = $("#VclothingProductId").val().trim();
           var productCode = $("#VclothingProductCode").val().trim();
           var productSectionId =  $("#VclothingSectionId").val().trim();
            var productCategory = $("#VclothingProductcategory").val().trim();
            var productPrice=  $("#VclothingProductPrice").val().trim();
            var productDescriptipon = $("#VclothingProductDescription").val().trim();
            var productLCount = $("#vLCount").val().trim();
            var productMCount = $("#vMCount").val().trim();
            var productXLCount = $("#vXLCount").val().trim();
            var productXXLCount = $("#vXXLCount").val().trim();
            var brandName = $("#vBrandName").val().trim();

            var jsonData = {
                ProductId: produtId,
                ProductName: productName,
                ProductCode: productCode,
                SectionId: productSectionId,
                Price: productPrice,
                Category: productCategory,
                Description: productDescriptipon,
                BrandName: brandName,
                LCount: productLCount,
                MCount: productMCount,
                XLCount: productXLCount,
                XXLCount: productXXLCount
            };

              $.ajax({
                        type: "POST",
                        url: '@Url.Action("updateClothingProductInfo", "Admin")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                        success: function (data) {
                        if (data === "true") {
                            $("#my").modal("hide");
                            alert("Updated");
                        }
                        else {
                        alert("Not Updated");
                        }

                        }
                    });

        });



        $("#gUpdate").click(function () {
           var productName =  $("#gProductName").val().trim();
            var produtId = $("#gProductId").val().trim();
           var productCode = $("#gProductCode").val().trim();
           var productSectionId =  $("#gSectionId").val().trim();
            var productCategory = $("#gProductcategory").val().trim();
            var productPrice=  $("#gProductPrice").val().trim();
            var productDescriptipon = $("#gProductDescription").val().trim();
            var quantity = $("#gQuantity").val().trim();
            var brandName = $("#gBrandName").val().trim();
            console.log(productName);

            var jsonData = {
                ProductId: produtId,
                ProductName: productName,
                ProductCode: productCode,
                SectionId: productSectionId,
                Price: productPrice,
                Category: productCategory,
                Description: productDescriptipon,
                BrandName: brandName,
                Quantity: quantity
            };

            if (productSectionId == 2) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("updateElectronicsProductInfo", "Admin")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        if (data === "true") {
                            $("#generalModal").modal("hide");
                            alert("Updated");
                        }
                        else {
                            alert("Not Updated");
                        }

                    }
                });
            }
            else  if (productSectionId == 3) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("updateDailyNeedProduct", "Admin")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        if (data === "true") {
                            $("#generalModal").modal("hide");
                            alert("Updated");
                        }
                        else {
                            alert("Not Updated");
                        }

                    }
                });
            }
             else  if (productSectionId == 4) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("updateMobileProduct", "Admin")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        if (data === "true") {
                            $("#generalModal").modal("hide");
                            alert("Updated");
                        }
                        else {
                            alert("Not Updated");
                        }

                    }
                });
            }


        });

        function deleteProduct(id,imagePath) {
            var status = confirm("Are you sure?");
            if (status == true) {
                var jsonData = {
                    ProductId: id,
                    ImageLink: imagePath
            };


             $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteProduct", "Admin")',
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(jsonData),
                    dataType: "json",
                    success: function (data) {
                        if (data === "true") {
                          
                             document.location = '@Url.Action("AddProduct", "Admin")';
                        }
                        else {
                            alert("Error!!");
                        }

                    }
                });
            }
        }

    </script>
</body>

</html>