@using System.Collections.Generic;
@model Biponee.Models.AdminSectionC
@if (ViewBag.insertResult != null)
{
    if (ViewBag.insertResult == "1")
    {
        Response.Write("<script>alert('Product inserted successfully')</script>");
    }
    else if (ViewBag.insertResult == "0")
    {
        Response.Write("<script>alert('Product Not Inserted')</script>");
    }
    else if (ViewBag.insertResult == "2")
    {
        Response.Write("<script>alert('Please change the product Code')</script>");
    }
    else if (ViewBag.insertResult == "2")
    {
        Response.Write("<script>alert('Please fill up all the necessary field')</script>");
    }
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.addons.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin Free Bootstrap Admin Dashboard Template</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Style/admin/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Style/admin/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Style/admin/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/Style/admin/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Style/admin/images/favicon.png" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
                <a class="navbar-brand brand-logo">
                    <img src="~/Style/user/logo/logo.png" alt="logo" />
                </a>
                <a class="navbar-brand brand-logo-mini">
                    <img src="~/Style/user/logo/logo.png" alt="logo" />
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            Schedule
                            <span class="badge badge-primary ml-1">New</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-elevation-rise"></i>Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="mdi mdi-bookmark-plus-outline"></i>Score
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-file-document-box"></i>
                            <span class="count">7</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                            <div class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 7 unread mails
                                </p>
                                <span class="badge badge-info badge-pill float-right">View all</span>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face4.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        David Grey
                                        <span class="float-right font-weight-light small-text">1 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        The meeting is cancelled
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face2.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Tim Cook
                                        <span class="float-right font-weight-light small-text">15 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        New product launch
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <img src="../../images/faces/face3.jpg" alt="image" class="profile-pic">
                                </div>
                                <div class="preview-item-content flex-grow">
                                    <h6 class="preview-subject ellipsis font-weight-medium text-dark">
                                        Johnson
                                        <span class="float-right font-weight-light small-text">18 Minutes ago</span>
                                    </h6>
                                    <p class="font-weight-light small-text">
                                        Upcoming board meeting
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                            <i class="mdi mdi-bell"></i>
                            <span class="count">4</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                            <a class="dropdown-item">
                                <p class="mb-0 font-weight-normal float-left">
                                    You have 4 new notifications
                                </p>
                                <span class="badge badge-pill badge-warning float-right">View all</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="mdi mdi-alert-circle-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Application Error</h6>
                                    <p class="font-weight-light small-text">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="mdi mdi-comment-text-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">Settings</h6>
                                    <p class="font-weight-light small-text">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="mdi mdi-email-outline mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-medium text-dark">New user registration</h6>
                                    <p class="font-weight-light small-text">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-xl-inline-block">
                        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                            <span class="profile-text">@Model.Admin.FirstName</span>

                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

                            <a class="dropdown-item mt-2" href="#" data-toggle="modal" data-target="#adminprofile">
                                Profile
                            </a>

                            <a class="dropdown-item">
                                Sign Out
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <div class="nav-link">
                            <div class="user-wrapper">

                                <div class="text-wrapper">
                                    <p class="profile-name">@Model.Admin.FirstName</p>
                                    <div>
                                        <small class="designation text-muted">Admin</small>
                                        <span class="status-indicator online"></span>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">
                                New Section
                                <i class="mdi mdi-plus"></i>
                            </button>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="dashboard">
                            <i class="menu-icon mdi mdi-television"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#" id="addproducts" class="nav-link">
                            <i class="menu-icon mdi mdi-backup-restore"></i>
                            <span class="menu-title">Add Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="chart">
                            <i class="menu-icon mdi mdi-chart-line"></i>
                            <span class="menu-title">Charts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" id="orders">
                            <i class="menu-icon mdi mdi-table"></i>
                            <span class="menu-title">Orders</span>
                        </a>
                    </li>


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">

                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->

                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#menu1" class="active">Add Product</a></li>
                    <li><a data-toggle="tab" href="#menu2">Search Product</a></li>

                </ul>

                <div class="tab-content">
                    <div id="menu1" class="tab-pane fade in active show">
                        <button style="margin-top:20px;" class="btn btn-primary" data-toggle="modal" data-target="#addProductModal" id="addProduct">+ Add a new Product</button>
                        <h3 style="margin-top:20px;">Your Products</h3>



                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ProductId</th>
                                    <th scope="col">ProductName</th>
                                    <th scope="col">ProductCode</th>
                                    <th scope="col">SectionName</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">ImageLink</th>
                                    <th scope="col">L Count</th>
                                    <th scope="col">M Count</th>
                                    <th scope="col">Xl Count</th>
                                    <th scope="col">XXl Count</th>
                                </tr>
                            </thead>


                            @for (int i = Model.products.Count - 1; i >= 0; i--)
                            {
                                <tr>
                                    <td>@Model.products[i].ProductId</td>
                                    <td>@Model.products[i].ProductName</td>
                                    <td>@Model.products[i].ProductCode</td>
                                    @for (int j = -0; j < Model.products.Count; j++)
                                    {
                                        if (Model.Sections[j].SectionID == Model.products[i].SectionId)
                                        {
                                            <td>@Model.Sections[j].SectionName</td>
                                            break;
                                        }
                                    }

                                    <td>@Model.products[i].Price</td>
                                    <td>@Model.products[i].Category</td>
                                    <td>@Model.products[i].Description</td>
                                    <td>@Model.products[i].ImageLink</td>
                                    <td>@Model.products[i].LCount</td>
                                    <td>@Model.products[i].MCount</td>
                                    <td>@Model.products[i].XLCount</td>
                                    <td>@Model.products[i].XXLCount</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div id="menu2" class="tab-pane fade">
                        <h3>Search Product</h3>
                        <table >
                            <tr >
                                <td colspan="2">
                                    <select id="searchSecId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                        }

                                    </select>
                                </td>
                                <td colspan="6">
                                    <input id="productCode" class="form-control" placeholder="ProductCode"/>
                                </td>
                                <td>
                                    <button id="searchbtn" class="form-control btn-danger btn-danger">Search</button>
                                </td>
                            </tr>
                        </table>
                       
                      <h4 style="text-align:center">Search Result</h4>
                    </div>

                </div>


                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>


    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <script src="../../vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <!-- End custom js for this page-->
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Style/admin/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Style/admin/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="~/Style/admin/js/off-canvas.js"></script>
    <script src="~/Style/admin/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/Style/admin/js/dashboard.js"></script>
    <!-- End custom js for this page-->

    <div class="modal fade" id="adminprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Admin Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                        <img src='~/Style/img/loading.gif' width="44" height="44" />
                        <br>Loading..
                    </div>

                    <table>
                        <tr>
                            <td>First Name </td>
                            <td>@Model.Admin.FirstName</td>

                        </tr>
                        <tr>

                            <td>Last Name </td>
                            <td>@Model.Admin.LastName</td>

                        </tr>
                        <tr>
                            <td>Email </td>
                            <td>@Model.Admin.Email</td>

                        </tr>

                    </table>
                </div>
                <div class="modal-footer">

                    <!--  <button id="loginbtn" type="button" class="btn btn-primary">Login</button>-->
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div id="waitpic" style="display:none;width:69px;height:89px;position:absolute;top:50%;left:50%;padding:2px; margin-top: 10px;">
                            <img src='~/Style/img/loading.gif' width="44" height="44" />
                            <br>Loading..
                        </div>


                        <table>
                            <tr>
                                <td colspan="2">Product Name</td>
                                <td colspan="2">
                                    <input id="ProductName" name="ProductName" type="text" class="form-control" placeholder="Product Name" />
                                </td>

                            </tr>
                            <tr>

                                <td colspan="2">Product Code</td>
                                <td colspan="2">
                                    <input id="ProductCode" name="ProductCode" type="text" class="form-control" placeholder="Product Coce" />
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Section Name</td>
                                <td colspan="2">
                                    <select id="SectionId" name="SectionId" class="form-control">

                                        @for (int i = 0; i < Model.Sections.Count; i++)
                                        {
                                            <option value="@Model.Sections[i].SectionID">@Model.Sections[i].SectionName</option>
                                        }

                                    </select>
                                </td>
                            </tr>
                            <tr>

                                <td colspan="2">Category</td>
                                <td colspan="2">
                                    <input id="Category" name="Category" type="text" class="form-control" placeholder="Category" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">Price</td>
                                <td colspan="2">
                                    <input id="Price" name="Price" min="0" type="number" class="form-control" placeholder="Product Price" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Description</td>
                                <td colspan="2">
                                    <textarea id="Description" name="Description" class="form-control" rows="4" placeholder="Description of this Product"></textarea>

                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Image</td>
                                <td colspan="2">
                                    <input id="ImageLink" name="ImageLink" type="file" class="form-control" />
                                </td>

                            </tr>
                            <tr>
                                <td colspan="2">Sizes(If Available) Count</td>

                            </tr>
                            <tr>
                                <td>
                                    <input id="LCount" name="LCount" type="number" class="form-control" placeholder="L" min="0" />
                                </td>
                                <td>
                                    <input id="MCount" name="MCount" type="number" class="form-control" placeholder="M" min="0" />
                                </td>
                                <td>
                                    <input id="XLCount" name="XLCount" type="number" class="form-control" placeholder="XL" min="0" />
                                </td>
                                <td>
                                    <input id="XXLCount" name="XXLCount" type="number" class="form-control" placeholder="XXL" min="0" />
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="modal-footer">

                        <input type="submit" class="btn btn-primary" value="Add" input>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $("#dashboard").click(function () {
                 document.location = '@Url.Action("AdminPage", "Admin")' + '?' + 'id=' + @Model.Admin.ID;
            });

            $("#addproducts").click(function () {
                 document.location = '@Url.Action("AddProduct", "Admin")' + '?' + 'id=' + @Model.Admin.ID;
            });
            $("#chart").click(function () {
                 document.location = '@Url.Action("Charts", "Admin")' + '?' + 'id=' + @Model.Admin.ID;
            });
            $("#orders").click(function () {
                 document.location = '@Url.Action("Orders", "Admin")' + '?' + 'id=' + @Model.Admin.ID;
            });

         $(document).ready(function () {
             $("#searchbtn").click(function () {
               
                 var email = $("#searchSecId").val();
                var password = $("#password").val();


                var jsonData = { Email: email, Password: password };
                  $.ajax({
                        type: "POST",
                        url: '@Url.Action("getAdmin", "Admin")',
                        contentType: "application/json;charset=utf-8",
                        data: JSON.stringify(jsonData),
                        dataType: "json",
                      success: function (data) {

                          if (data > 0) {
                              
                              document.location = '@Url.Action("AdminPage", "Admin")' + '?' + 'id=' + data;
                          }
                          else {
                              $("#waitpic").css("display", "none");
                              alert("Admin Not Found");
                              
                          }
                            //alert(data);
                        }
                    });
                   // alert(name + " " + email);
                return false;
                });

          

            });

        });
    </script>
</body>

</html>